.acceuil {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
      to bottom right,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.2)
    ),
    url(../../Images/loginBg.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  &__header {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    color: #ffffffe5;

    &--container {
      animation: fadeRight 1s normal forwards;
      line-height: 1.2;
      flex: 0 0 50%;
    }
    h1 {
      font-size: 5rem;
      margin-bottom: 2rem;
    }
    h6 {
      font-size: 3rem;
    }
  }

  &__movies {
    width: 100%;
    padding: 1rem;
    background-color: #181818;

    &--intro {
      padding: 3rem 2rem;
      h2 {
        text-align: center;
        color: #ffffffff;
        font-size: 5rem;
        text-transform: uppercase;
      }
    }

    &--container {
      padding: 1.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &--categories {
      margin-right: 5rem;
      flex: 0 0 15%;
    }

    &--items {
      list-style: none;
      display: flex;
      flex-direction: column;
      height: 30rem;
      justify-content: space-between;
      border-radius: 2px;

      &--item {
        flex: 1;
        color: #ffffffff;
        font-size: 1.6rem;
        font-weight: 600;
        padding: 1.5rem 1rem;
        cursor: pointer;
        text-align: center;
        border-bottom: 1px solid #ffffffff;
        transition: all 0.3s;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          top: 0%;
          left: 0%;
          height: 100%;
          width: 3.5px;
          background-color: red;
          transform: scaleY(0);
          transition: transform 0.5s;
        }

        &--active {
          background-color: white;
          color: black;
          border-bottom: none;
          font-weight: 900;
        }

        &--active::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 3.5px;
          background-color: red;
          transform: scaleY(1);
          transition: transform 0.5s;
        }

        &:hover {
          background-color: white;
          color: black;
          border-bottom: none;
        }
        &:hover::after {
          transform: scaleY(1);
        }
      }
    }
    &--lists {
      flex: 1;
    }
  }
}

.fade-right {
  animation: fadeRight 0.8s ease-in-out;
}

.fade-left {
  animation: fadeLeft 0.8s ease-in-out;
}

@keyframes fadeLeft {
  0% {
    transform: translateX(-2rem);
    opacity: 0;
  }

  100% {
    transform: translateX(0rem);
    opacity: 1;
  }
}

@keyframes fadeRight {
  0% {
    transform: translateX(2rem);
    opacity: 0;
  }

  100% {
    transform: translateX(0rem);
    opacity: 1;
  }
}
