.acceuil__header {
  width: 100%;
  height: 90vh;
  background-color: hsl(216, 15%, 21%);
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 0% 100%);
  padding: 19rem 10rem 10rem;
  display: flex;
  justify-content: space-between;
}

.acceuil__title {
  flex: 0 0 45%;
}

.acceuil__title h1 {
  font-size: 3.6rem;
  color: #fff;
}

.acceuil__title--para {
  margin-top: 3rem;
  font-size: 1.5rem;
  color: antiquewhite;
  font-weight: 600;
}

.acceuil__photo {
  flex: 0 0 50%;
  position: relative;
}

.acceuil__photo-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.acceuil__section {
  padding: 5rem;
}

.section_title {
  color: blueviolet;
  text-transform: uppercase;
  text-shadow: 0.1px 2px rgba(0, 0, 0, 0.4);
  transform: skewX(-5deg);
  font-size: 2.5rem;
  border-bottom: 1px solid blueviolet;
}

.cards__container {
  padding: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.acceuil__footer {
  padding: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(189, 186, 186);
}

.footer__content {
  text-align: center;
  flex: 0 0 65%;
}

.footer__content h2 {
  font-size: 4rem;
}

.footer__content p {
  font-size: 2rem;
  font-weight: 600;
}

.fade-right {
  animation: fadeRight 0.8s ease-in-out;
}

.fade-left {
  animation: fadeLeft 0.8s ease-in-out;
}

@keyframes fadeLeft {
  0% {
    transform: translateX(-2rem);
    opacity: 0;
  }

  100% {
    transform: translateX(0rem);
    opacity: 1;
  }
}

@keyframes fadeRight {
  0% {
    transform: translateX(2rem);
    opacity: 0;
  }

  100% {
    transform: translateX(0rem);
    opacity: 1;
  }
}
