.book__card {
  flex: 0 0 29%;
  height: 45rem;
  margin-bottom: 2rem;
  cursor: pointer;
  display: flex;
  backface-visibility: hidden;
  transition: all 0.2s;
}

.book__card:hover {
  transform: scale(1.15);
}

.rate {
  flex: 0 0 32%;
  margin-bottom: 2rem;
  padding: 2rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: all 0.2s;
}

.rate:hover {
  transform: scale(1.1);
}

.rate__para {
  font-size: 1.4rem;
  font-weight: 600;
}

.user__des {
  margin: 1rem 0rem 3rem 0rem;
  display: flex;
  align-items: center;
}

.user__photo {
  width: 5rem;
  margin-right: 2rem;
}

.user__des h3 {
  font-size: 2rem;
  color: gray;
}

.order__card {
  width: 100%;
  padding: 2rem;
  height: 23rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.3);
  display: flex;
  cursor: pointer;
  transition: all 0.2s ease;
  margin-bottom: 3rem;
}

.order__card:hover {
  transform: translateY(-1rem);
  box-shadow: 0 1.5rem 4rem rgba(216, 177, 5, 0.8);
}

.order__image {
  height: 20rem;
  margin-right: 2rem;
}

.order__details {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.order__details h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.order__icon {
  fill: red;
  width: 2rem;
  float: right;
}

.order__content {
  flex: 1;
}

.order__content--para {
  font-size: 1.4rem;
  font-weight: 600;
  color: grey;
}

.order__bottom {
}

.order__bottom h4 {
  font-size: 3rem;
  font-weight: 600;
  color: green;
  float: right;
}
