.trailer {
  width: 100%;
  height: 100%;
  display: flex;

  &__img {
    height: 100%;
    flex: 0 0 30%;
    cursor: pointer;
  }

  &__container {
    flex: 1;
  }

  &__video {
    flex: 1;
    height: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    transition: all 1s;
  }

  &__img:hover + &__video {
    opacity: 1;
  }
}
