.actors {
  background-color: #181818;
  min-height: 100vh;

  &__intro {
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 10rem;

    h1 {
      flex: 0 0 50%;
      color: white;
      font-size: 5rem;
      text-align: center;
    }
  }

  &__list {
    padding: 1rem 6rem;
    height: 100%;
  }
}

.actor {
  height: auto;
  padding: 1rem;
  box-shadow: 0 1.5rem 4rem rgba(white, 0.05);
  background-color: #333;
  display: flex;
  &:not(:last-child) {
    margin-bottom: 5rem;
  }

  &__img {
    flex: 0 0 33%;
    justify-self: start;
  }

  &__container {
    width: 100%;
    padding: 0rem 1rem;
    display: flex;
    flex-direction: column;
  }

  &__name {
    color: white;
    font-size: 5rem;
    font-weight: 900;
    text-transform: uppercase;
  }
  &__description {
    font-size: 2rem;
    color: white;
  }

  &__movies {
    &--list {
      list-style: none;
      display: flex;
      flex-direction: column;
    }

    &--item {
      height: 25rem;
      width: 100%;
    }
  }
}
